nav.nav#nav
  ul.nav-list
    li.nav-item: a.nav-link(href='#' target='_blank')
    li.nav-item: a.nav-link(href='#' target='_blank')
    li.nav-item: a.nav-link(href='#' target='_blank')
    li.nav-item: a.nav-link(href='#' target='_blank')
    li.nav-item: a.nav-link(href='#' target='_blank')