-let pageTitle = 'Home'
-let siteName = 'J C R | Frontend Boilerplate'
-let twitterAccount = '@jcjripa'
-let pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
-let pageImage = ''

